<nav class="navbar navbar-expand-lg navbar-light bg-dark shadow-sm">
  <div class="container">
    <a [routerLink]="['/']" class="navbar-brand text-white">Blogify</a>
    <button
      class="navbar-toggler text-white"
      type="button"
      data-bs-toggler="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="/" class="nav-link text-white">Analytics</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/']" class="nav-link text-white" (click)="logout()"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
