<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <article>
        <header class="mb-4">
          <h1 class="fw-bolder mb-1">
            {{ blogPost.title }}
          </h1>

          <div class="d-flex justify-content-between align-items-center mb-1">
            <div class="text-muted fst-italic">
              <span
                >Posted on {{ blogPost.publishedDate | date : "longDate" }} by
                {{ blogPost.author.name }}</span
              >
            </div>
            <div class="d-flex gap-2">
              <button
                class="btn btn-sm btn-outline-danger fw-bold rounded-5"
                [disabled]="!isLoggedIn"
              >
                Delete
              </button>
              <button
                [routerLink]="['/editpost', blogPost._id]"
                class="btn btn-sm btn-outline-success fw-bold rounded-5"
                [disabled]="!isLoggedIn"
              >
                Edit
              </button>
            </div>
          </div>

          <div class="text-muted fst-italic">
            <span>Views: {{ blogPost.viewCount }}</span>
          </div>

          <div class="d-flex flex-wrap align-items-center mt-2 gap-2">
            <span class="fw-bold">Category:</span>
            <span
              *ngFor="let category of blogPost.categories"
              class="badge bg-primary text-uppercase"
              >{{ category.name }}</span
            >
          </div>

          <div class="d-flex flex-wrap align-items-center gap-2 mt-2">
            <span class="fw-bold">Tags:</span>
            <span *ngFor="let tag of blogPost.tags" class="badge bg-success">{{
              tag.name
            }}</span>
          </div>
        </header>

        <figure *ngFor="let photo of blogPost.media" class="mb-4">
          <img
            [src]="'../../../assets/' + photo"
            [alt]="photo"
            class="img-fluid rounded"
            width="800px"
          />
        </figure>

        <section class="mb-4">
          <p class="text-justify">
            {{ blogPost.content }}
          </p>
        </section>

        <div class="text-end">
          <span class="text-muted"
            >Last modified: {{ blogPost.modifiedAt | date : "fullDate" }}</span
          >
        </div>
      </article>

      <!-- Comment Section -->
      <section class="my-4">
        <div class="card bg-light">
          <div class="card-header" *ngIf="isLoggedIn">
            <form class="mb-1">
              <textarea
                class="form-control mb-3"
                rows="3"
                placeholder="Leave a comment..."
                [(ngModel)]="newCommentContent"
                name="comment"
              ></textarea>
              <div class="d-flex justify-content-end gap-3">
                <small class="text-danger me-1">{{ alert }}</small>
                <button (click)="addComment()" class="btn btn-sm btn-info">
                  Comment
                </button>
              </div>
            </form>
          </div>

          <div class="card-body">
            <div *ngIf="comments.length === 0" class="text-center text-muted">
              No comments yet.
            </div>
            <div *ngFor="let comment of comments" class="mb-2">
              <div class="d-flex align-items-center">
                <i class="bi bi-person-circle fs-2 p-3"></i>
                <div>
                  <div class="fw-bold">
                    {{ comment.user?.name || "Anonymous" }}
                  </div>
                  <p>{{ comment.content }}</p>
                  <small class="text-muted">{{
                    comment.createdAt | date : "short"
                  }}</small>
                </div>
              </div>
              <div class="d-flex justify-content-end">
                <button class="btn btn-sm btn-danger me-3">Reject</button>
                <button class="btn btn-sm btn-success">Approve</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
