<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <article>
        <header class="mb-4">
          <h1 class="fw-bolder mb-1">
            Why is the Tesla Cybertruck designed the way it is?
          </h1>

          <div class="d-flex justify-content-between align-items-center mb-1">
            <div class="text-muted fst-italic">
              <span>Posted on January 7, 2025 by Sambhav Kumar | 2h ago</span>
            </div>
            <div class="d-flex gap-2">
              <button class="btn btn-sm btn-outline-danger fw-bold rounded-5">
                Delete
              </button>
              <button class="btn btn-sm btn-outline-success fw-bold rounded-5">
                Edit
              </button>
            </div>
          </div>

          <div class="text-muted fst-italic">
            <span class="ms-2">Views: 10k</span>
          </div>

          <div class="d-flex flex-wrap align-items-center mt-2 gap-2">
            <span class="fw-bold">Category:</span>
            <span class="badge bg-primary text-uppercase">Technology</span>
            <span class="badge bg-primary text-uppercase">Innovation</span>
          </div>

          <div class="d-flex flex-wrap align-items-center gap-2 mt-2">
            <span class="fw-bold">Tags:</span>
            <span class="badge bg-success">Technology</span>
            <span class="badge bg-success">AI</span>
          </div>
        </header>

        <figure class="mb-4">
          <img
            src="../../../assets/post1.jpg"
            alt="postImage"
            class="img-fluid rounded"
            width="800px"
          />
        </figure>

        <section class="mb-4">
          <p class="text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, ab
            commodi consectetur iste perspiciatis veritatis rem dignissimos
            dolore tempore. Est veniam corrupti officia qui delectus pariatur
            alias aliquam saepe mollitia? Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Fuga, ab commodi consectetur iste perspiciatis
            veritatis rem dignissimos dolore tempore. Est veniam corrupti
            officia qui delectus pariatur alias aliquam saepe mollitia? Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Fuga, ab commodi
            consectetur iste perspiciatis veritatis rem dignissimos dolore
            tempore. Est veniam corrupti officia qui delectus pariatur alias
            aliquam saepe mollitia? Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Fuga, ab commodi consectetur iste perspiciatis
            veritatis rem dignissimos dolore tempore. Est veniam corrupti
            officia qui delectus pariatur alias aliquam saepe mollitia? Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Fuga, ab commodi
            consectetur iste perspiciatis veritatis rem dignissimos dolore
            tempore. Est veniam corrupti officia qui delectus pariatur alias
            aliquam saepe mollitia? Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Fuga, ab commodi consectetur iste perspiciatis
            veritatis rem dignissimos dolore tempore. Est veniam corrupti
            officia qui delectus pariatur alias aliquam saepe mollitia? Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Fuga, ab commodi
            consectetur iste perspiciatis veritatis rem dignissimos dolore
            tempore. Est veniam corrupti officia qui delectus pariatur alias
            aliquam saepe mollitia? Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Fuga, ab commodi consectetur iste perspiciatis
            veritatis rem dignissimos dolore tempore. Est veniam corrupti
            officia qui delectus pariatur alias aliquam saepe mollitia?
          </p>
        </section>

        <div class="text-end">
          <span class="text-muted">Last modified: 2h ago</span>
        </div>
      </article>

      <section class="my-4">
        <div class="card bg-light">
          <div class="card-body">
            <form class="mb-4">
              <textarea
                class="form-control"
                rows="3"
                placeholder="Leave a comment to join the discussion"
              ></textarea>
            </form>
          </div>

          <div class="d-flex align-items-center mb-3">
            <i class="bi bi-person-circle fs-2 p-3"></i>
            <div>
              <div class="fw-bold">Name</div>
              <p class="mb-0">Lorem ipsum, dolor sit amet consectetur.</p>
            </div>
          </div>

          <div class="d-flex justify-content-end gap-3 m-3">
            <button class="btn btn-sm btn-danger">Reject</button>
            <button class="btn btn-sm btn-success">Approve</button>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
