<div class="hero-section d-flex flex-column justify-content-center">
  <div>
    <h1>Hi There,</h1>
    <p>Connect to people through your blogs...</p>
    <a [routerLink]="['signup']" class="btn p-2">Signup</a>
  </div>
</div>
<div class="container-fluid d-flex justify-content-around flex-wrap mt-5">
  <div class="card mb-5">
    <div class="card-header">
      <img src="../../../assets/post1.jpg" alt="post1" />
    </div>
    <div
      class="card-body d-flex flex-column justify-content-center align-items-start"
    >
      <span class="tag">Technology</span>
      <h5 class="my-2">Why is the Tesla Cybertruck designed the way it is?</h5>
      <p>An exploration into the truck's polarising design</p>
    </div>
    <div class="card-footer author d-flex flex-column justify-content-start">
      <div class="author-info">
        <h6>Sambhav</h6>
        <small>13 Jan 2025</small>&nbsp;|
        <small class="text-muted">2h ago</small>
      </div>
    </div>
  </div>

  <div class="card mb-5">
    <div class="card-header">
      <img src="../../../assets/post2.jpg" alt="postImage" />
    </div>
    <div
      class="card-body d-flex flex-column justify-content-center align-items-start"
    >
      <span class="tag">Technology</span>
      <h5 class="my-2">Why is the Tesla Cybertruck designed the way it is?</h5>
      <p>An exploration into the truck's polarising design</p>
    </div>
    <div
      class="card-footer author d-flex flex-column justify-content-start align-items-start"
    >
      <div class="author-info">
        <h6>Sambhav</h6>
        <small>13 Jan 2025</small>&nbsp;|
        <small class="text-muted">2h ago</small>
      </div>
    </div>
  </div>

  <div class="card mb-5">
    <div class="card-header">
      <img src="../../../assets/post3.jpg" alt="postImage" />
    </div>
    <div
      class="card-body d-flex flex-column justify-content-center align-items-start"
    >
      <span class="tag">Technology</span>
      <h5 class="my-2">Why is the Tesla Cybertruck designed the way it is?</h5>
      <p>An exploration into the truck's polarising design</p>
    </div>
    <div
      class="card-footer author d-flex flex-column justify-content-start align-items-start"
    >
      <div class="author-info">
        <h6>Sambhav</h6>
        <small>13 Jan 2025</small>&nbsp;|
        <small class="text-muted">2h ago</small>
      </div>
    </div>
  </div>
  <div class="card mb-5">
    <div class="card-header">
      <img src="../../../assets/post4.jpg" alt="postImage" />
    </div>
    <div
      class="card-body d-flex flex-column justify-content-center align-items-start"
    >
      <span class="tag">Technology</span>
      <h5 class="my-2">Why is the Tesla Cybertruck designed the way it is?</h5>
      <p>An exploration into the truck's polarising design</p>
    </div>
    <div
      class="card-footer author d-flex flex-column justify-content-start align-items-start"
    >
      <div class="author-info">
        <h6>Sambhav</h6>
        <small>13 Jan 2025</small>&nbsp;|
        <small class="text-muted">2h ago</small>
      </div>
    </div>
  </div>
  <div class="card mb-5">
    <div class="card-header">
      <img src="../../../assets/post5.jpg" alt="postImage" />
    </div>
    <div
      class="card-body d-flex flex-column justify-content-center align-items-start"
    >
      <span class="tag">Technology</span>
      <h5 class="my-2">Why is the Tesla Cybertruck designed the way it is?</h5>
      <p>An exploration into the truck's polarising design</p>
    </div>
    <div
      class="card-footer author d-flex flex-column justify-content-start align-items-start"
    >
      <div class="author-info">
        <h6>Sambhav</h6>
        <small>13 Jan 2025</small>&nbsp;|
        <small class="text-muted">2h ago</small>
      </div>
    </div>
  </div>
  <div class="card mb-5">
    <div class="card-header">
      <img src="../../../assets/post6.jpg" alt="postImage" />
    </div>
    <div
      class="card-body d-flex flex-column justify-content-center align-items-start"
    >
      <span class="tag">Technology</span>
      <h5 class="my-2">Why is the Tesla Cybertruck designed the way it is?</h5>
      <p>An exploration into the truck's polarising design</p>
    </div>
    <div
      class="card-footer author d-flex flex-column justify-content-start align-items-start"
    >
      <div class="author-info">
        <h6>Sambhav</h6>
        <small>13 Jan 2025</small>&nbsp;|
        <small class="text-muted">2h ago</small>
      </div>
    </div>
  </div>
  <div class="card mb-5">
    <div class="card-header">
      <img src="../../../assets/post7.jpg" alt="postImage" />
    </div>
    <div
      class="card-body d-flex flex-column justify-content-center align-items-start"
    >
      <span class="tag">Technology</span>
      <h5 class="my-2">Why is the Tesla Cybertruck designed the way it is?</h5>
      <p>An exploration into the truck's polarising design</p>
    </div>
    <div
      class="card-footer author d-flex flex-column justify-content-start align-items-start"
    >
      <div class="author-info">
        <h6>Sambhav</h6>
        <small>13 Jan 2025</small>&nbsp;|
        <small class="text-muted">2h ago</small>
      </div>
    </div>
  </div>
  <div class="card mb-5">
    <div class="card-header">
      <img src="../../../assets/post8.jpg" alt="postImage" />
    </div>
    <div
      class="card-body d-flex flex-column justify-content-center align-items-start"
    >
      <span class="tag">Technology</span>
      <h5 class="my-2">Why is the Tesla Cybertruck designed the way it is?</h5>
      <p>An exploration into the truck's polarising design</p>
    </div>
    <div
      class="card-footer author d-flex flex-column justify-content-start align-items-start"
    >
      <div class="author-info">
        <h6>Sambhav</h6>
        <small>13 Jan 2025</small>&nbsp;|
        <small class="text-muted">2h ago</small>
      </div>
    </div>
  </div>
</div>
