<div class="container my-4">
  <div class="text-center">
    <h2 class="fw-bold text-primary">
      <i class="bi bi-file-earmark-text"></i> My Drafts
    </h2>
    <p *ngIf="isLoggedIn" class="text-muted">
      All your saved blog drafts are listed here...
    </p>
    <p *ngIf="!isLoggedIn" class="text-muted">
      Login to see all your drafts...
    </p>
  </div>

  <div class="row mt-4">
    <div class="col-md-6 mb-4" *ngFor="let draft of drafts; let i = index">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">Title: {{ draft.title }}</h5>
          <span *ngFor="let category of draft.categories" class="card-text"
            >Categories: {{ category.name }}</span
          >
          <p class="small text-truncate">Content: {{ draft.content }}</p>
          <p class="small text-truncate">Tags: {{ draft.content }}</p>
          <div class="d-flex justify-content-between">
            <button class="btn btn-danger btn-sm" (click)="deleteDraft()">
              <i class="bi bi-trash"></i> Delete
            </button>
            <button
              [routerLink]="['/editpost', draft._id]"
              class="btn btn-warning btn-sm"
            >
              <i class="bi bi-pencil"></i> Edit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isLoggedIn" class="text-center mt-4">
    <a [routerLink]="['/createpost']" class="btn btn-info">
      <i class="bi bi-pencil-square"></i> Add New Blog
    </a>
  </div>
  <div *ngIf="!isLoggedIn" class="text-center mt-4">
    <a [routerLink]="['/login']" class="btn btn-info"> Login </a>
  </div>
</div>
